function FreeTypingGame.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
pop this 2
push constant 0
pop this 3
push constant 0
pop this 5
push pointer 0
return
function FreeTypingGame.uploadStory 0
push argument 0
pop pointer 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
call Screen.clearScreen 0
pop temp 0
push this 2
call Output.printString 1
pop temp 0
push pointer 0
call FreeTypingGame.typeCheck 1
pop temp 0
push constant 0
return
function FreeTypingGame.mvSentCursor 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push argument 3
push argument 4
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push constant 8
add
push argument 2
push argument 3
push constant 8
add
push argument 4
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function FreeTypingGame.typedRight 1
push argument 0
pop pointer 0
push this 2
push argument 1
call String.charAt 2
pop local 0
push local 0
push argument 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
push constant 1
add
pop this 4
push constant 0
not
return
label IF_FALSE0
push local 0
push argument 2
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 2
push constant 0
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
push constant 1
add
pop this 3
label IF_FALSE2
label IF_FALSE1
push constant 0
return
function FreeTypingGame.calculateScore 1
push argument 0
pop pointer 0
call Output.println 0
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push this 3
call Output.printInt 1
pop temp 0
push constant 10000
call Sys.wait 1
pop temp 0
push local 0
call Output.printInt 1
pop temp 0
push constant 0
return
function FreeTypingGame.endStory 0
push argument 0
pop pointer 0
push constant 1500
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 19
call String.new 1
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 20
call String.new 1
push constant 67
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 5000
call Sys.wait 1
pop temp 0
push constant 10
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 3
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 37
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function FreeTypingGame.typeCheck 8
push argument 0
pop pointer 0
push constant 0
pop local 4
push constant 15
pop local 5
push constant 5
pop local 6
push constant 25
pop local 7
push constant 0
pop local 0
push constant 0
pop local 2
push this 5
push constant 1
sub
pop local 3
push this 3
call Output.printInt 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push local 4
push local 5
push local 6
push local 7
call Screen.drawRectangle 4
pop temp 0
push constant 3
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 18
call String.new 1
push constant 67
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 1
push local 1
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 3
push constant 18
call Output.moveCursor 2
pop temp 0
push local 1
push constant 32
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
call String.new 1
push constant 95
call String.appendChar 2
call Output.printChar 1
pop temp 0
goto IF_END1
label IF_FALSE1
push local 1
call Output.printChar 1
pop temp 0
label IF_END1
label IF_FALSE0
label WHILE_EXP1
push pointer 0
push local 2
push local 1
call FreeTypingGame.typedRight 3
push constant 0
not
eq
not
if-goto WHILE_END1
push local 2
push local 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call FreeTypingGame.calculateScore 1
pop temp 0
push constant 1
pop local 0
push pointer 0
call FreeTypingGame.endStory 1
pop temp 0
push constant 0
return
label IF_FALSE2
push local 2
push local 3
eq
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push local 4
push local 5
push local 6
push local 7
call FreeTypingGame.mvSentCursor 5
pop temp 0
push local 4
push constant 8
add
pop local 4
push local 6
push constant 8
add
pop local 6
push local 2
push constant 1
add
pop local 2
label IF_FALSE3
goto WHILE_EXP1
label WHILE_END1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function FreeTypingGame.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function FreeTypingGame.pickASentence 5
push argument 0
pop pointer 0
push constant 41
call String.new 1
push constant 84
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 71
call String.appendChar 2
pop local 0
push constant 39
call String.new 1
push constant 80
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 83
call String.appendChar 2
pop local 1
push constant 35
call String.new 1
push constant 72
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 90
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 88
call String.appendChar 2
pop local 2
push constant 3
call Array.new 1
pop local 3
push constant 0
push local 3
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 3
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 3
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 4
push this 1
push constant 65
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 4
label IF_FALSE0
push this 1
push constant 65
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop local 4
label IF_FALSE1
push this 1
push constant 72
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 4
label IF_FALSE2
push this 1
push constant 72
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop local 4
label IF_FALSE3
push this 1
push constant 73
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 1
pop local 4
label IF_FALSE4
push this 1
push constant 73
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 1
pop local 4
label IF_FALSE5
push this 1
push constant 80
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 1
pop local 4
label IF_FALSE6
push this 1
push constant 80
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 1
pop local 4
label IF_FALSE7
push this 1
push constant 81
gt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 2
pop local 4
label IF_FALSE8
push this 1
push constant 81
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 2
pop local 4
label IF_FALSE9
push this 1
push constant 90
lt
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 2
pop local 4
label IF_FALSE10
push this 1
push constant 90
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 2
pop local 4
label IF_FALSE11
push local 4
push local 3
add
pop pointer 1
push that 0
pop this 2
push this 2
call String.length 1
pop this 5
push constant 0
return
function FreeTypingGame.run 0
push argument 0
pop pointer 0
call Output.println 0
pop temp 0
push pointer 0
call FreeTypingGame.pickASentence 1
pop temp 0
push pointer 0
call FreeTypingGame.uploadStory 1
pop temp 0
push constant 0
return
